<a href="https://colab.research.google.com/github/UrsKindler/python_in_MS/blob/main/DA_106_1_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Try it yourself:
Create a pandas DataFrame containing information about the five highest mountains in the world. Follow these steps:
Use the data dictionary provided, that contains the following columns:
Mountain: The name of the mountain.
Height_m: The height of the mountain in meters.
Location: The location (countries or regions) of the mountain.
First_Ascent: The year of the first recorded ascent.
Create a pandas DataFrame.
Print the following pandas attributes:
dtypes: Check the data types of the columns.
columns: Display the column names in the DataFrame.
shape: Print the number of rows and columns in the DataFrame.

In [1]:
import pandas as pd

data = {
    'Mountain': ['Mount Everest', 'K2', 'Kangchenjunga', 'Lhotse',
                 'Makalu'],
    'Height_m': [8848, 8611, 8586, 8516, 8485],
    'Location': ['Nepal/China', 'Pakistan/China', 'Nepal/India',
                 'Nepal/China', 'Nepal/China'],
    'First_Ascent': [1953, 1954, 1955, 1956, 1955],
    }

df = pd.DataFrame(data)
print(df)

print(df.dtypes)
print(df.columns)
print(df.shape)

In [2]:
import seaborn as sns

df = sns.load_dataset("tips")

In [3]:
from sklearn.datasets import load_iris
import pandas as pd

iris = load_iris()
df = pd.DataFrame(iris.data, columns=iris.feature_names)

In [4]:
import pandas as pd

# Sample DataFrame
data = {
    "Destination": ["Paris", "Tokyo", "New York", "London", "Dubai"],
    "Rating": [4.8, 4.7, 4.5, 4.6, 4.7],
    "Visitors (millions)": [19.1, 13.3, 10.2, 20.4, 16.3]
}

df = pd.DataFrame(data)

# Display the first 3 rows
print(df.head(3))

  Destination  Rating  Visitors (millions)
0       Paris     4.8                 19.1
1       Tokyo     4.7                 13.3
2    New York     4.5                 10.2

In [5]:
import pandas as pd

# Sample DataFrame
data = {
    "Destination": ["Paris", "Tokyo", "New York", "London", "Dubai"],
    "Rating": [4.8, 4.7, 4.5, 4.6, 4.7],
    "Visitors (millions)": [19.1, 13.3, 10.2, 20.4, 16.3]
}

df = pd.DataFrame(data)

# Display the last 2 rows
print(df.tail(2))

  Destination  Rating  Visitors (millions)
3      London     4.6                 20.4
4       Dubai     4.7                 16.3

In [6]:
import pandas as pd

# Sample DataFrame
data = {
    "Destination": ["Paris", "Tokyo", "New York", "London", "Dubai"],
    "Rating": [4.8, 4.7, 4.5, 4.6, 4.7],
    "Visitors (millions)": [19.1, 13.3, 10.2, 20.4, 16.3]
}

df = pd.DataFrame(data)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Destination          5 non-null      object
 1   Rating               5 non-null      float64
 2   Visitors (millions)  5 non-null      float64
dtypes: float64(2), object(1)
memory usage: 248.0+ bytes

Try it yourself:
Let’s now analyze a pandas DataFrame containing information about the five highest mountains in Europe.
Use .head(2) to check the first two rows of the DataFrame.
Use .tail(2) to check the last two rows of the DataFrame.
Use .info() to display a summary of the DataFrame, including column names, non-null counts, and data types.

In [7]:
import pandas as pd

data = {
    'Mountain': ['Mount Elbrus', 'Dykh-Tau', 'Shkhara', 'Koshtan-Tau',
                 'Pushkin Peak'],
    'Height_m': [5642, 5205, 5193, 5151, 5100],
    'Location': ['Russia', 'Russia', 'Russia/Georgia', 'Russia',
                 'Russia'],
    'First_Ascent': [1874, 1888, 1888, 1889, 1891],
    }

df = pd.DataFrame(data)

#Write your code here
print(df.head(2))
print(df.tail(2))
df.info()

Try it yourself:
We will now work with the five highest mountains in the Americas.
We provide you with a pandas dictionary containing the mountain names and their heights to create a pandas Series.
The keys in the dictionary represent the mountain names.
The values represent the heights in meters.
Name the Series Highest Mountains in Americas.
Print the following:
All the values of the Series.
All the indices of the Series.

In [8]:
import pandas as pd

data = {
    "Aconcagua": 6960,
    "Ojos del Salado": 6893,
    "Monte Pissis": 6793,
    "Huascarán": 6768,
    "Cerro Bonete": 6759
}

# Step 1: Create a pandas Series with meaningful indices
series = pd.Series(data, name="Highest Mountains in Americas")
# Step 2: Assign a name to the Series
series.name = "Highest Mountains in Americas"
# Step 3: Print all the values of the Series.
print(series.values)
# Step 4: Print all the indices of the Series
print(series.index)

In [9]:
import numpy as np

Try it yourself:
Let’s check the five highest mountains in Africa now. However, the dataset includes duplicate entries for some mountains, resulting in 7 or 8 rows. Your job is to analyze the dataset and complete the following tasks:
Create a pandas DataFrame using the provided data.
Use .value_counts() to count how many times each mountain appears in the dataset.
Use .nunique() to find the number of unique mountain names in the dataset.
Use .unique() to list the names of all unique mountains.

In [ ]:
import pandas as pd

data = {
    "Mountain": [
        "Mount Kilimanjaro", "Mount Kenya", "Mount Stanley",
        "Mount Kenya", "Mount Speke", "Mount Baker",
        "Mount Kilimanjaro", "Mount Stanley"
    ],
    "Height_m": [
        5895, 5199, 5109,
        5199, 4890, 4843,
        5895, 5109
    ],
    "Location": [
        "Tanzania", "Kenya", "Uganda/Congo",
        "Kenya", "Uganda", "Uganda",
        "Tanzania", "Uganda/Congo"
    ]
}

# Step 1: Create a pandas DataFrame
df = pd.DataFrame(data)
# Step 2: Use .value_counts() to count duplicates
print(df["Mountain"].value_counts())
# Step 3: Use .nunique() to find the number of unique mountains
print(df["Mountain"].nunique())
# Step 4: Use .unique() to list all unique mountain names
print(df["Mountain"].unique())